<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunny.photogallery"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    
    <!-- 为应用添加自定义权限 -->
    <permission android:name="com.sunny.photogallery.PRIVATE" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.sunny.photogallery.PRIVATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PhotoGalleryActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- intent filter表明应用可监听搜索intent，元数据信息则将searchable.xml与目标activity关联起来。 -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <!-- 
        	android:configChanges属性表明，如果因键盘开关、屏幕方向改变、屏幕大小改变
        	（也包括Android 3.2之后的屏幕方向变化）而发生设备配置更改，那么activity应自己处理配置更改。 
        	这样可以使得在屏幕旋转时，WebView不必重新加载网页。
        -->
        <activity 
            android:name=".PhotoPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <service android:name=".PollService" ></service>
        
        <receiver android:name=".StartupReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver 
            android:name=".NotificationReceiver"
            android:exported="false" >
            <intent-filter android:priority="-999">
                <action android:name="com.sunny.photogallery.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
